doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='author', content='Raj')
    title List of students
  body
    script(src='task3app.js')
    ol 
      each obj in list
        li Name : #{obj.myName}
        p Maths Marks : #{obj.myMathsMarks}
        p English Marks : #{obj.myEnglishMarks}