doctype html
html
    head
        title List of students
    body
        ol                 
            each detail in details
                li Name : #{detail.myName}
                p Maths Marks : #{detail.myMathsMarks}
                p English Marks : #{detail.myEnglishMarks}                      