doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='author', content='Raj')
    title Form Submission
    style.
      .container{
      font-family :Bradley Hand ITC , Monotype Corsiva ;
      padding:10px;
      font-weight:bold;
      }
      .headings{
      font-family : Bradley Hand ITC;
      padding-left:10px;
      }
      .textbox{
      border-radius : 5px;
      border-color:5px solid red;
      height : 20px;
      }
      .container button a{
      text-decoration:none;
      color:black;
      }
  body
    header
      h1.headings( align='center')  Student's Form
    main
      h3.headings Enter Student details below :
      form(method="post")
        .container
          label(for='myName')  Name   :   
          input#myName.textbox(type='text', placeholder='Name', name='myName')
        .container
          label(for='myMathsMarks') Enter maths marks   :   
          input#myMathsMarks.textbox(type='number', placeholder='Enter Marks', name='myMathsMarks')
        .container
          label(for='myEnglishMarks') Enter English marks   :   
          input#myEnglishMarks.textbox(type='number', placeholder='Enter Marks', 169*25='', name='myEnglishMarks')
        .container
          | Reset Values   :   
          input.textbox(type='reset', value='Reset')
        .container
          | Submit   :   
          button#addValue.textbox(method="get")
            a(href='/handleForm', target='_blank') Submit Form
        .container
          | Add Value   :   
          button#submit.textbox(value='Submit Now', method='post') Add value